#todo-error{
  color: red;
  font-size: 2em;
}

body{
  color:white;
  text-shadow: 1px 1px 1px black;
}

#weather{
  display:flex;
  justify-content: right;
  font-size: 40px;
}

footer {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

